Repository omnixys/omnixys-authentication-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

.github/CODEOWNERS:

# Code-Owners für den omnixys-payment-service

# Globale Zuständigkeit
* @calebscript @omnixys-maintainers

# Security-spezifische Pfade
SECURITY.md @omnixys-security-team
.github/workflows/security*.yml @omnixys-security-team

# Gradle-Build
build.gradle @calebscript
settings.gradle @calebscript

chore(github): add optimized issue templates for Omnixys Authentication Service
  .github/ISSUE_TEMPLATE/auth_bug_report.yml
  .github/ISSUE_TEMPLATE/auth_feature_request.yml
  .github/ISSUE_TEMPLATE/auth_support_request.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/support_request.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/ci-cd.yml
  TODO.md
  package.json
Owners: @calebscript, @omnixys-maintainers

ci(auth): add full CI/CD pipeline with pnpm, docker bake, and cosign signing
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/daily-dependency-check.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/docker-weekly.yml
  .github/workflows/security.yml
  .github/workflows/update-docker-image.yml
  Dockerfile
  __tests__/jest-e2e.json
  docker-bake.hcl
  package.json
  test/app.e2e-spec.ts
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

add typedoc
  LICENSE
  package.json
  pnpm-lock.yaml
  typedoc.cjs
Owners: @calebscript, @omnixys-maintainers

ci(node): fix missing lockfile warning by enabling pnpm cache in setup-node
  .github/workflows/auto-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Owners: @calebscript, @omnixys-maintainers

ci(node): fix missing pnpm executable by enabling corepack in setup-node
  .github/workflows/auto-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

ci(node): fix pnpm not found error by activating corepack with pnpm@latest
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

ci(node): fix pnpm not found error by activating corepack with pnpm@latest
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

ci(pnpm): replace unsupported 'pnpm ci' with 'pnpm install --frozen-lockfile'
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

add typedoc
  package.json
  pnpm-lock.yaml
Owners: @calebscript, @omnixys-maintainers

ci(pnpm): fix missing pnpm in analyze job by enabling corepack before typedoc run
  .github/workflows/ci-cd.yml
  .gitignore
Owners: @calebscript, @omnixys-maintainers

Update package.json
  package.json
Owners: @calebscript, @omnixys-maintainers

chore(deps): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Owners: @calebscript, @omnixys-maintainers

Update README.md
  README.md
Owners: @calebscript, @omnixys-maintainers

ci(docs): fix GitHub Pages 404 by deploying TypeDoc output to gh-pages branch
  .github/workflows/ci-cd.yml
  public/favicon.ico
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  public/logo.png
  public/theme.css
  typedoc.cjs
Owners: @calebscript, @omnixys-maintainers

ci(auth): fix dependency-check workflow stability and summary reporting - Split mkdir into a dedicated step
  .github/workflows/dependecy-check.yml
Owners: @calebscript, @omnixys-maintainers

ci(security): fix pnpm global install error by switching to local snyk-to-html setup
  .github/workflows/security.yml
Owners: @omnixys-security-team

Update admin.handler.ts
  src/handlers/admin.handler.ts
Owners: @calebscript, @omnixys-maintainers

docs(auth-service): add contribution suite, env examples, and updated README
  README.md
Owners: @calebscript, @omnixys-maintainers

feat(ci): add full GitHub Actions workflow for E2E Auth Tests
  .github/workflows/test.yml
  README.md
  __tests__/.ci.env
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.login.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.user.e2e-spec.ts
  __tests__/e2e/graphql-client.ts
  __tests__/e2e/jest-e2e.json
  __tests__/e2e/setup-e2e.ts
  __tests__/e2e/tsconfig.spec.json
  __tests__/jest-e2e.json
  __tests__/keycloak/realm-export.json
  package.json
  pnpm-lock.yaml
  schema.gql
  src/admin/admin.module.ts
  src/admin/admin.service.ts
  src/app.module.ts
  src/auth/resolvers/auth-mutation.resolver.ts
  src/auth/resolvers/auth-query.resolver.ts
  src/auth/resolvers/user-mutation.resolver.ts
  src/auth/services/read.service.ts
  src/config/env.ts
  src/config/kafka.ts
  src/handlers/admin.handler.ts
  src/messaging/kafka-consumer.service.ts
  src/messaging/kafka-event-dispatcher.service.ts
  src/messaging/kafka-producer.service.ts
  src/messaging/kafka-topic.properties.ts
  src/messaging/kafka.module.ts
  src/redis/redis.client.ts
  src/redis/redis.module.ts
  tsconfig.json
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update tsconfig.spec.json
  __tests__/e2e/tsconfig.spec.json
Owners: @calebscript, @omnixys-maintainers

Update auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
Owners: @calebscript, @omnixys-maintainers

fix: split tsconfig for tests)
  tsconfig.json
Owners: @calebscript, @omnixys-maintainers

fix(ci): use valid Bitnami Zookeeper tag (3.9.2) for GitHub Actions
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

fix(ci): use valid Zookeeper image for GitHub Actions
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

fix(ci): use official Apache Zookeeper image for E2E pipeline
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

fix(ci): resolve Keycloak startup failure (Exit 125) in E2E Auth workflow
  .github/workflows/test.yml
  __tests__/keycloak/realm-config.json
Owners: @calebscript, @omnixys-maintainers

fix(ci): correct Keycloak realm import path and filename in E2E workflow
  .github/workflows/test.yml
  __tests__/keycloak/realm.json
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update proof-html.yml
  .github/workflows/proof-html.yml
Owners: @calebscript, @omnixys-maintainers

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers
