Repository omnixys/omnixys-authentication-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

✅ Improve E2E workflow: unified coverage summary & safer reporting
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

ci: add formatted E2E coverage summary to GitHub Actions output
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

ci: add formatted E2E coverage summary to GitHub Actions output
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update test.yml
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

ci(security): add PNPM audit workflow with summary, GitHub issue creation and Slack alert
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  package.json
  pnpm-lock.yaml
Owners: @calebscript, @omnixys-maintainers, @omnixys-security-team

Update update-dependency-doc.yml
  .github/workflows/update-dependency-doc.yml
Owners: @calebscript, @omnixys-maintainers

fix(kafka): add missing LoggerPlusService injection to KafkaProducerService instantiation
  src/messaging/kafka-bootstrap.provider.ts
Owners: @calebscript, @omnixys-maintainers

feat(ci): archive coverage badge with timestamp and replace current coverage.svg
  .github/workflows/test.yml
Owners: @calebscript, @omnixys-maintainers

Update README.md
  README.md
Owners: @calebscript, @omnixys-maintainers

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Owners: @calebscript, @omnixys-maintainers

update README
  .github/workflows/security.yml
  README.md
  public/logo.png
  public/omnixys-bg-dark.png
  public/omnixys-bg-light.png
Owners: @omnixys-security-team, @calebscript, @omnixys-maintainers

init nest Project
  .gitignore
  .prettierrc
  README.md
  eslint.config.mjs
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.build.json
  tsconfig.build.tsbuildinfo
  tsconfig.json
Owners: @calebscript, @omnixys-maintainers

.github/CODEOWNERS:

# Code-Owners für den omnixys-payment-service

# Globale Zuständigkeit
* @calebscript @omnixys-maintainers

# Security-spezifische Pfade
SECURITY.md @omnixys-security-team
.github/workflows/security*.yml @omnixys-security-team

# Gradle-Build
build.gradle @calebscript
settings.gradle @calebscript
