Repository omnixys/omnixys-authentication-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, github-actions, ci, docs, security, frontend, backend, feature, bug, refactor

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/package.json'
          - '**/package-lock.json'
          - '**/pyproject.toml'
          - '**/build.gradle'
          - '**/build.gradle.kts'
          - '**/pom.xml'

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/*.yml'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
          - 'devtools/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**'

security:
  - changed-files:
      - any-glob-to-any-file:
          - '**/SECURITY.md'
          - '**/*keycloak*'
          - '**/*auth*'
          - '**/*.pem'
          - '**/*.crt'

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend/**'
          - 'src/frontend/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/backend/**'
          - 'src/backend/**'

feature:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'
          - 'apps/**'
          - 'features/**'

bug:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.java'
          - '**/*.py'

refactor:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*service*'
          - '**/*controller*'
          - '**/*resolver*'

chore(github): add optimized issue templates for Omnixys Authentication Service
  .github/ISSUE_TEMPLATE/auth_bug_report.yml
  .github/ISSUE_TEMPLATE/auth_feature_request.yml
  .github/ISSUE_TEMPLATE/auth_support_request.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/support_request.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/ci-cd.yml
  TODO.md
  package.json
Labels: dependencies, github-actions, ci, docs, security

ci(auth): add full CI/CD pipeline with pnpm, docker bake, and cosign signing
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/daily-dependency-check.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/docker-weekly.yml
  .github/workflows/security.yml
  .github/workflows/update-docker-image.yml
  Dockerfile
  __tests__/jest-e2e.json
  docker-bake.hcl
  package.json
  test/app.e2e-spec.ts
Labels: dependencies, github-actions, ci, bug

add typedoc
  LICENSE
  package.json
  pnpm-lock.yaml
  typedoc.cjs
Labels: dependencies

ci(node): fix missing lockfile warning by enabling pnpm cache in setup-node
  .github/workflows/auto-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Labels: github-actions, ci

ci(node): fix missing pnpm executable by enabling corepack in setup-node
  .github/workflows/auto-merge.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Labels: github-actions, ci

ci(node): fix pnpm not found error by activating corepack with pnpm@latest
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Labels: github-actions, ci

ci(node): fix pnpm not found error by activating corepack with pnpm@latest
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Labels: github-actions, ci

ci(pnpm): replace unsupported 'pnpm ci' with 'pnpm install --frozen-lockfile'
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
Labels: github-actions, ci

add typedoc
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci(pnpm): fix missing pnpm in analyze job by enabling corepack before typedoc run
  .github/workflows/ci-cd.yml
  .gitignore
Labels: github-actions, ci

Update package.json
  package.json
Labels: dependencies

chore(deps): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Labels: none

Update README.md
  README.md
Labels: docs

ci(docs): fix GitHub Pages 404 by deploying TypeDoc output to gh-pages branch
  .github/workflows/ci-cd.yml
  public/favicon.ico
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  public/logo.png
  public/theme.css
  typedoc.cjs
Labels: github-actions, ci

ci(auth): fix dependency-check workflow stability and summary reporting - Split mkdir into a dedicated step
  .github/workflows/dependecy-check.yml
Labels: github-actions, ci

ci(security): fix pnpm global install error by switching to local snyk-to-html setup
  .github/workflows/security.yml
Labels: github-actions, ci
