Repository omnixys/omnixys-authentication-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, github-actions, ci, docs, security, frontend, backend, feature, bug, refactor

Update admin.handler.ts
  src/handlers/admin.handler.ts
Labels: feature, bug

docs(auth-service): add contribution suite, env examples, and updated README
  README.md
Labels: docs

feat(ci): add full GitHub Actions workflow for E2E Auth Tests
  .github/workflows/test.yml
  README.md
  __tests__/.ci.env
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.login.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.user.e2e-spec.ts
  __tests__/e2e/graphql-client.ts
  __tests__/e2e/jest-e2e.json
  __tests__/e2e/setup-e2e.ts
  __tests__/e2e/tsconfig.spec.json
  __tests__/jest-e2e.json
  __tests__/keycloak/realm-export.json
  package.json
  pnpm-lock.yaml
  schema.gql
  src/admin/admin.module.ts
  src/admin/admin.service.ts
  src/app.module.ts
  src/auth/resolvers/auth-mutation.resolver.ts
  src/auth/resolvers/auth-query.resolver.ts
  src/auth/resolvers/user-mutation.resolver.ts
  src/auth/services/read.service.ts
  src/config/env.ts
  src/config/kafka.ts
  src/handlers/admin.handler.ts
  src/messaging/kafka-consumer.service.ts
  src/messaging/kafka-event-dispatcher.service.ts
  src/messaging/kafka-producer.service.ts
  src/messaging/kafka-topic.properties.ts
  src/messaging/kafka.module.ts
  src/redis/redis.client.ts
  src/redis/redis.module.ts
  tsconfig.json
Labels: dependencies, github-actions, ci, docs, security, feature, bug, refactor

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update tsconfig.spec.json
  __tests__/e2e/tsconfig.spec.json
Labels: none

Update auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
Labels: security, bug

fix: split tsconfig for tests)
  tsconfig.json
Labels: none

fix(ci): use valid Bitnami Zookeeper tag (3.9.2) for GitHub Actions
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): use valid Zookeeper image for GitHub Actions
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): use official Apache Zookeeper image for E2E pipeline
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): resolve Keycloak startup failure (Exit 125) in E2E Auth workflow
  .github/workflows/test.yml
  __tests__/keycloak/realm-config.json
Labels: github-actions, ci

fix(ci): correct Keycloak realm import path and filename in E2E workflow
  .github/workflows/test.yml
  __tests__/keycloak/realm.json
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update proof-html.yml
  .github/workflows/proof-html.yml
Labels: github-actions, ci

Update codeql.yml
  .github/workflows/codeql.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update update-dependency-doc.yml
  .github/workflows/update-dependency-doc.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update update-dependency-doc.yml
  .github/workflows/update-dependency-doc.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

update kafka
  .github/workflows/test.yml
Labels: github-actions, ci

add keycloak service test.yaml
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): ensure Keycloak starts correctly under GitHub Actions
  .github/workflows/test.yml
  __tests__/.ci.env
Labels: github-actions, ci

fix(ci): correct Keycloak startup command in GitHub Actions (no bash wrapper)
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): correct Keycloak startup command placement in GitHub Actions
  .github/workflows/test.yml
Labels: github-actions, ci

.github/labeler.yml:

# @license GPL-3.0-or-later
 # Copyright (C) 2025 Caleb Gyamfi - Omnixys Technologies
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For more information, visit <https://www.gnu.org/licenses/>.
 
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/package.json'
          - '**/package-lock.json'
          - '**/pyproject.toml'
          - '**/build.gradle'
          - '**/build.gradle.kts'
          - '**/pom.xml'

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/*.yml'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
          - 'devtools/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**'

security:
  - changed-files:
      - any-glob-to-any-file:
          - '**/SECURITY.md'
          - '**/*keycloak*'
          - '**/*auth*'
          - '**/*.pem'
          - '**/*.crt'

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend/**'
          - 'src/frontend/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/backend/**'
          - 'src/backend/**'

feature:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'
          - 'apps/**'
          - 'features/**'

bug:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.java'
          - '**/*.py'

refactor:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*service*'
          - '**/*controller*'
          - '**/*resolver*'
