Repository omnixys/omnixys-authentication-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, github-actions, ci, docs, security, frontend, backend, feature, bug, refactor

Update camunda-platform-realm.json
  __tests__/keycloak/camunda-platform-realm.json
Labels: none

update client secret
  .github/workflows/test.yml
  __tests__/.ci.env
Labels: github-actions, ci

Update camunda-platform-realm.json
  __tests__/keycloak/camunda-platform-realm.json
Labels: none

update .ci.env
  .github/workflows/test.yml
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.user.e2e-spec.ts
Labels: github-actions, ci, security, bug

update
  .github/workflows/test.yml
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
Labels: github-actions, ci, security, bug

chore: add environment example for authentication service
  .docker.env
  .env.example
  .github/workflows/test.yml
  .gitignore
  .health.env
  .health.env.example
  README.md
  __tests__/.ci.env
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
  __tests__/e2e/setup-e2e.ts
  src/config/env.ts
  src/config/kafka.ts
  src/health/health.service.ts
  src/health/kafka.indicator.ts
  src/redis/pending-contact.service.ts
Labels: github-actions, ci, docs, security, feature, bug, refactor

docs(auth): add unified environment configuration and example file
  .docker.env
  .github/workflows/test.yml
  .gitignore
  README.md
  src/health/health.module.ts
Labels: github-actions, ci, docs, feature, bug

fix(ci): align PostgreSQL secret mapping in E2E authentication workflow
  .env.example
  .github/workflows/test.yml
  README.md
  __tests__/e2e/setup-e2e.ts
Labels: github-actions, ci, docs, bug

fix(ci): correct PostgreSQL test secret references in E2E workflow
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

fix(ci): correct PostgreSQL test secret references in E2E workflow
  .docker.env
  .env.example
  README.md
  __tests__/e2e/auth/auth.admin.e2e-spec.ts
  __tests__/e2e/auth/auth.login.e2e-spec.ts
  __tests__/e2e/auth/auth.signup.e2e-spec.ts
  __tests__/e2e/auth/auth.user.e2e-spec.ts
  __tests__/e2e/setup-e2e.ts
  __tests__/env.ts
  src/app.module.ts
  src/auth/resolvers/auth-mutation.resolver.ts
  src/auth/services/keycloak-base.service.ts
  src/config/env.ts
  src/config/graphql.ts
  src/config/node.ts
  src/health/health.controller.ts
  src/logger/banner.service.ts
  src/redis/pending-contact.service.ts
  src/redis/redis-pubsub.ts
  src/redis/redis.client.ts
  src/redis/redis.config.ts
  user-profile.kcstring.txt
Labels: docs, security, feature, bug, refactor

change env KAFKA_URL to KAFKA_BROKER
  .docker.env
  .env.example
  .github/workflows/test.yml
  README.md
  src/config/env.ts
  src/config/kafka.ts
  src/config/node.ts
  src/health/health.service.ts
  src/health/kafka.indicator.ts
  src/logger/banner.service.ts
Labels: github-actions, ci, docs, feature, bug, refactor

Update env.ts
  __tests__/env.ts
Labels: bug

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

chore(e2e): add explicit env + setup debug logs for Keycloak and Kafka verification
  __tests__/e2e/setup-e2e.ts
Labels: bug

Update setup-e2e.ts
  __tests__/e2e/setup-e2e.ts
Labels: bug

Update setup-e2e.ts
  __tests__/e2e/setup-e2e.ts
Labels: bug

remove env KC_TEST_URL
  .env.example
  .github/workflows/test.yml
  README.md
  __tests__/e2e/setup-e2e.ts
  __tests__/env.ts
Labels: github-actions, ci, docs, bug

ci(e2e): add parallel E2E matrix with Keycloak service and coverage summary
  .github/workflows/test.yml
  .gitignore
  __tests__/e2e/jest-e2e.json
  package.json
  pnpm-lock.yaml
Labels: dependencies, github-actions, ci

test(auth): successful E2E Auth suite with Babel coverage
  .github/workflows/test.yml
  jest-e2e.json
  package.json
  pnpm-lock.yaml
Labels: dependencies, github-actions, ci

update package.json
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/proof-html.yml
  .github/workflows/update-dependency-doc.yml
  README.md
  jest-e2e.json
  package.json
Labels: dependencies, github-actions, ci, docs

✅ ci(e2e): integrate full E2E Authentication workflow with coverage reporting
  .github/workflows/test.yml
  jest-e2e.json
Labels: github-actions, ci

ci(e2e): add stable coverage badge generation and summary reporting
  .github/workflows/test.yml
  jest-e2e.json
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

✅ Improve E2E workflow: unified coverage summary & safer reporting
  .github/workflows/test.yml
Labels: github-actions, ci

ci: add formatted E2E coverage summary to GitHub Actions output
  .github/workflows/test.yml
Labels: github-actions, ci

ci: add formatted E2E coverage summary to GitHub Actions output
  .github/workflows/test.yml
Labels: github-actions, ci

Update test.yml
  .github/workflows/test.yml
Labels: github-actions, ci

ci(security): add PNPM audit workflow with summary, GitHub issue creation and Slack alert
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies, github-actions, ci

Update update-dependency-doc.yml
  .github/workflows/update-dependency-doc.yml
Labels: github-actions, ci

fix(kafka): add missing LoggerPlusService injection to KafkaProducerService instantiation
  src/messaging/kafka-bootstrap.provider.ts
Labels: feature, bug

feat(ci): archive coverage badge with timestamp and replace current coverage.svg
  .github/workflows/test.yml
Labels: github-actions, ci

Update README.md
  README.md
Labels: docs

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

update README
  .github/workflows/security.yml
  README.md
  public/logo.png
  public/omnixys-bg-dark.png
  public/omnixys-bg-light.png
Labels: github-actions, ci, docs

init nest Project
  .gitignore
  .prettierrc
  README.md
  eslint.config.mjs
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.build.json
  tsconfig.build.tsbuildinfo
  tsconfig.json
Labels: dependencies, docs, feature, bug, refactor

.github/labeler.yml:

# @license GPL-3.0-or-later
 # Copyright (C) 2025 Caleb Gyamfi - Omnixys Technologies
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For more information, visit <https://www.gnu.org/licenses/>.
 
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/package.json'
          - '**/package-lock.json'
          - '**/pyproject.toml'
          - '**/build.gradle'
          - '**/build.gradle.kts'
          - '**/pom.xml'

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/*.yml'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - '.github/**'
          - 'devtools/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**'

security:
  - changed-files:
      - any-glob-to-any-file:
          - '**/SECURITY.md'
          - '**/*keycloak*'
          - '**/*auth*'
          - '**/*.pem'
          - '**/*.crt'

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/frontend/**'
          - 'src/frontend/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'apps/backend/**'
          - 'src/backend/**'

feature:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'
          - 'apps/**'
          - 'features/**'

bug:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.java'
          - '**/*.py'

refactor:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*service*'
          - '**/*controller*'
          - '**/*resolver*'
